<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" data-test="logo" href="/">IT Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" data-test="navigation">
        {% for dep in departures %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'tours:tour_dep' dep.slug %}" data-test="navlink">{{ dep.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>